<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ps="http://java.sun.com/jsf/passthrough">
<h:head>
  <title>A Simple JavaServer Faces 2.0 View</title>
</h:head>
<h:body>
	<h:form>
		<h:outputStylesheet name="style.css"/>
		<p:growl />
		<p:commandLink action="#{sastataView.create}" update="@form"
			value=" Create" />
		<p:dataTable value="#{sastataModel.vagonai}" var="vagonas" styleClass="lentele">
			<p:column headerText="Numeris"> 
				#{vagonas.numeris}
			</p:column>
			<p:column headerText="Pagaminimo Data"> 
	 			#{vagonas.pagaminimoData}
			</p:column>
			<p:column headerText="Pagaminusi Imone">
				#{vagonas.pagaminusiImone}
			</p:column>
			<p:column headerText="Miestas">
				#{vagonas.miestas}
			</p:column>
			<p:column headerText="Tipas">
				#{vagonas.vagonoTipas}
			</p:column>
			<p:column> 
				<p:commandLink
					actionListener="#{sastataView.update(sastata.id)}"
					update="@form" value=" Update" resetValues="true" immediate="true" />
				<p:commandLink
					actionListener="#{sastataView.delete(sastata.id)}"
					update="@form" value=" Delete" immediate="true">
					<p:confirm header="Patvirtinimas" message="Ar norite istrinti?"
						icon="ui-icon-alert" />
				</p:commandLink>
			</p:column>
		</p:dataTable>
		<p:outputPanel
			rendered="#{sastataModel.redaguojamasVagonas != null}">
			<p>Redagavimo forma:</p>
			<p>
				<p:outputLabel for="numeris">Numeris:</p:outputLabel>
				<p:inputText id="numeris"
					value="#{sastataModel.redaguojamasVagonas.numeris}"
					required="true"
					ps:placeholder="Numeris">
					<f:validateLength minimum="1" maximum="10" />
					<f:validateRegex pattern="^[0-9]+$" />
				</p:inputText>
				<p:message for="numeris"></p:message>
			</p>
			<p>
				<p:outputLabel for="pagaminimoData">Pagaminimo Data:</p:outputLabel>
				<p:inputText id="pagaminimoData"
					value="#{sastataModel.redaguojamasVagonas.pagaminimoData}"
					ps:placeholder="Pagaminimo Data">
					<f:convertDateTime pattern="yyyy/MM/dd" />
				</p:inputText>
				<p:message for="pagaminimoData"></p:message>
				<h:outputText value="#{sastataModel.redaguojamasVagonas.pagaminimoData}">
                	<f:convertDateTime pattern="yyyy/MM/dd" />
           		</h:outputText>
			</p>
			<p>
				<p:outputLabel for="miestas">Miestas</p:outputLabel>
				<p:inputText id="miestas"
					value="#{sastataModel.redaguojamasVagonas.miestas}"
					ps:placeholder="Miestas">			
					<f:validateLength minimum="1" maximum="20" />
					<f:validateRegex pattern="^[a-zA-Z]+$" />
				</p:inputText>
				<p:message for="miestas"></p:message>
			</p>
			<p>
				<p:outputLabel for="pagaminusiImone">Pagaminusi Imone</p:outputLabel>
				<p:inputText id="pagaminusiImone"
					value="#{sastataModel.redaguojamasVagonas.pagaminusiImone}"
					ps:placeholder="Pagaminusi Imone">			
					<f:validateLength minimum="1" maximum="20" />
					<f:validateRegex pattern="^[a-zA-Z]+$" />
				</p:inputText>
				<p:message for="pagaminusiImone"></p:message>
			</p>
			<p>
				<p:outputLabel for="vagonoTipas">Vagono Tipas:</p:outputLabel>
				<p:selectOneMenu id="vagonoTipas" value="#{sastataModel.redaguojamasVagonas.vagonoTipas}" style="width:160px">
					<f:selectItem itemLabel="Keleivinis" itemValue="Keleivinis"/>
					<f:selectItem itemLabel="Krovininis" itemValue="Krovininis" />
					<f:selectItem itemLabel="Lokomotyvas" itemValue="Lokomotyvas" />
				</p:selectOneMenu>
			</p>

			
			<p>
				<p:commandButton value="Save"
					actionListener="#{sastataView.save()}" update="@form">
					<f:passThroughAttribute name="data-dismiss" value="dialog"/>
				</p:commandButton>
				<p:commandButton value="Cancel"
					actionListener="#{sastataView.cancel()}" update="@form"
					immediate="true">
				</p:commandButton>
			</p>
		</p:outputPanel>
		<p:confirmDialog global="true">
			<p:commandButton value="Taip" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="Ne" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>
		<h:form>
			<p:inputText id="notificationBar" value="#{sastataView.notificationBar}" ps:placeholder="vagonas">
				 	<p:ajax event="keyup" update="panelId"></p:ajax>
			</p:inputText>
			<p:panelGrid id="panelId">
				<p:notificationBar id="out1" position="bottom" effect="slide" styleClass="bottom" widgetVar="bar" 
							rendered="#{sastataView.notificationBar=='vagonas'}" autoDisplay="true">
		    		<h:outputText value="Hello" style="font-size:36px;" />
				</p:notificationBar>
			</p:panelGrid>
		</h:form>
	</h:form>
</h:body>
</html>
